<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- الكارت و تسجيل الدخول -->
            <form asp-controller="Cart" asp-action="Index" class="d-flex me-2">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart (
                    @if (Model.Cart != null)
                    {
                        <span class="badge bg-dark text-white ms-1 rounded-pill">@Model.Cart.Count</span>
                    }
                    else
                    {
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    })
                </button>
            </form>

            <partial name="_LoginPartial" />
          

       
            <a class="navbar-brand mx-auto" asp-controller="Home" asp-action="Index" >Reev Candle</a>
        
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Products" asp-action="Index">All Products</a></li>
            </ul>
          
        </div>
    </div>
</nav>
@section Styles{
    <style>
        .navbar-brand {
            font-family: 'Lobster', cursive;
            font-weight: 400;
            font-style: normal;
            background-color: aqua !important;
            ;
        }
    </style>
}