@{
    ViewData["Title"] = "Thank You";
}



    <div class="card">
        <h2>Thank You for Your Order!</h2>
        <p>Your order has been successfully placed. We appreciate your business and will get it ready for you soon.</p>
        <a href="@Url.Action("Index", "Order")" class="btn-return">Return to Orders</a>
    </div>


